<!DOCTYPE html>
<html lang="es" >
<head>
  <script  src="script.js"></script>
  <link rel="icon" href="../static/IMG/Logo_Iso color.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Empleo Malagueño</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/validaciones.js')}}"></script>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <style>
    .msg{
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 600;
      width: 80%;
      color: #fff;
      background: #338c36;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
    }
</style>

</head>
<body>
  <!--<div id="imagen-temporal">
    <img src="../static/IMG/imagen-temporal.jpg" alt="Imagen Temporal">
  </div>-->
  

<!-- Botón Redondo -->
<div class="round-button">NONE</div>

<!-- Popup -->
<div id="popup" class="popup">
    <div class="contenedor-superior">
        <div class="avatar-container">
            <img src="../static/IMG/avatar.png" alt="Avatar" class="avatar">
        </div>
    </div>

    <div class="card-body">
        <div class="messages-container">
            <div class="message-box left">
                <p class="parrafo"><strong>¡Hola!</strong> ¿En qué puedo ayudarte Hoy?</p>
            </div>
            <button class="boton-bot">
                <div class="svg-wrapper-1"><a href="http://wa.link/ppbrpf" class="linkweb" target="_blank">
                    <div class="svg-wrapper">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                        </svg></a>
                    </div>
                </div>
                <span>Abrir Chat</span>
            </button>
        </div>
    </div>
</div>

<!---------------------------------------------------------------------------------------------------------->
  <main>
      <nav class="main-menu">
        
        <div class="container-logo-mm">
          <img class="logo-muni" src="../static/IMG/logo_muni_blanco.png" alt="Logo Mejor Malagueño">
        </div>

        <h1>Portal de Empleo</h1>
        
        <img class="logo" src="../static/IMG/iso blanco y.png" alt="" />
        <ul>

          <li class="nav-item active" data-form="consulata-categoria" onclick=" mostrarFormulario('consulata-categoria')">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-star nav-icon"></i>
              <span class="nav-text">Categoría</span>
            </a>
          </li>

          <li class="nav-item" data-form="form1" onclick="mostrarFormulario('form1')">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-user nav-icon"></i>
              <span class="nav-text">D. Personales</span>
            </a>
          </li>

          <li class="nav-item" data-form="form2" onclick="mostrarFormulario('form2')">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-graduation-cap nav-icon"></i>
              <span class="nav-text">Educación</span>
            </a>
          </li>

          <li class="nav-item" data-form="form3" onclick=" mostrarFormulario('form3')">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-briefcase nav-icon"></i>
              <span class="nav-text">Experiencia</span>
            </a>
          </li>

        </ul>        
        

      </nav>

  <section class="content">
  <div class="left-content">
    <div class="container-general">


    {% if msg %}
    <p class="msg">{{ msg }}</p>
    {% endif %}


    <div class="container-titulo" style="visibility: hidden">
      <h1>Portal de Empleo</h1>
    </div>
    

    <!------------------------------------------------>
    <form action = "{{ url_for('registrarForm')}}" method="POST"  onsubmit="return mostrarMensajeConfirmacion()" enctype="multipart/form-data">

      <div class="container" id="consulata-categoria" >
        <h2>Preferencia</h2>
        <br>
        <div class="separador">
          <hr />
          <span> 0 </span>
          <hr />
        </div>
        <br>
        <div>
          <p class="texto">Mi búsqueda laboral está orientada a cubrir puestos en las áreas de... </p>
        </div>
        <br>
        <div class="grupo">
          <label for="preferencia">Preferencia Laboral *</label>
          <select name="preferencia" id="preferencia">
            <option value="" selected disabled>Selecciona una Preferencia Laboral</option>
            <option value="Administración">Administración</option>
            <option value="Atención al Cliente">Atención al Cliente</option>
            <option value="Contrucción y Obras">Contrucción y Obras</option>
            <option value="Contabilidad, Finanzas">Contabilidad / Finanzas</option>
            <option value="Diseño, Artes Gráficas">Diseño / Artes Gráficas</option>
            <option value="Salud">Salud</option>
            <option value="Hostelería, Turismo">Hostelería / Turismo</option>
            <option value="Informática, Telecomunicaciones">Informática / Telecomunicaciones</option>
            <option value="Mantenimiento y Repaparación Técnica">Mantenimiento y Repaparación Técnica</option>
            <option value="Operario, Empleado">Operario / Empleado</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
          <p class="error-message" id="error-preferencia"></p>
        </div>

        <div class="boton">

            <button id="btn-siguiente-form1" class="botones" type="button" onclick="mostrarSiguienteFormulario('consulata-categoria', 'form1')" disabled>Siguiente</button>  

        </div>
        </div>



                <div class="container" id="form1" style="display: none;">
                    <h2>Datos Personales</h2>
                    <br>
                    <div class="separador">
                        <hr />
                        <span> 0 </span>
                        <hr />
                    </div>
                    <br>
                    <div class="contenedor-par">
                      <div class="grupo2">
                        <label for="nombre">Nombre (Completo)*</label>
                        <input type="text" class="input-par" id="nombre" name="nombre">
                        <p class="error-message" id="error-nombre"></p>
                    </div>
                    <!------------------------------------------------>
                    <div class="grupo2">
                      <label for="apellido">Apellido*</label>
                      <input type="text" id="apellido" name="apellido" class="input-par">
                      <p class="error-message" id="error-apellido"></p>
                    </div>
                    </div>
                
                <!------------------------------------------------>
                <div class="contenedor-par">
                  <div class="grupo2">
                    <label>Importe una Imagen (JPG)*</label>
                    <input type="file" class="imagen" id="imagen" name="imagen" accept="image/*" >
                    <p class="error-message" id="error-imagen"> </p>
                  </div>
  
                  <div class="grupo2">
                    <label>Previsualización de la imagen:</label>
                    <img id="imagen-preview" src="#" alt="Imagen previa" style="display: none; width: 100px; height: auto; border-radius: 100px; ">
                  </div>
                </div>
                
                <!------------------------------------------------>
                <div class="contenedor-par">
                  <div class="grupo2" >
                    <label for="edad">Edad*</label>
                    <input type="number" id="edad" name="edad" class="input-par">
                    <p class="error-message" id="error-edad"></p>
                </div>
                <!------------------------------------------------>
                <div class="grupo2">
                  <label for="fecha-nacimiento">Fecha de Nacimiento*</label>
                  <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" class="input-par">
                  <p class="error-message" id="error-fecha"></p>
                </div>
                </div>
                
                <!------------------------------------------------>
                <div class="grupoGenero">
                    <p>Género*
                        <br>
                        <br>
                        <input type="radio" id="masculino" name="genero" value="1"> Masculino
                        <br>
                        <input type="radio" id="femenino" name="genero" value="2"> Femenino
                        <br>
                        <input type="radio" id="no-binario" name="genero" value="3"> No binario
                    </p>
                    <p class="error-message" id="error_genero "></p>
                    
                </div>
                <!------------------------------------------------>
                <div class="grupo">
                  <label for="correo">Correo Electrónico*</label>
                  <input type="email" id="correo" name="correo" >
                  <p class="error-message" id="error-correo"></p>
                </div>
                    <!------------------------------------------------>
                <div class="grupo">
                  <label for="confirmar_correo">Confirmar Correo Electrónico*</label>
                  <input type="email" id="confirmar_correo" name="confirmar_correo">
                  <p class="error-message" id="error-confirmar-correo"></p>
                </div>
                <!------------------------------------------------>
                <div class="contenedor-par">
                  <div class="grupo2">
                    <label for="calle">Calle*</label>
                    <input type="text" id="calle" name="calle" class="input-par">
                    <p class="error-message" id="error-calle"></p>
                  </div>

                  <div class="grupo2">
                    <label for="numeracion">Número de Calle*</label>
                    <input type="text" id="numeracion" name="numeracion" class="input-par">
                    <p class="error-message" id="error-numero"></p>
                  </div>
                  
                  <!------------------------------------------------>
                  <div class="grupo2">
                        <label for="residencia">Ciudad o Barrio*</label>
                        <select id="residencia"  name="residencia">
                          <option value="" selected disabled>Selecciona tu lugar de residencia</option>
                          <option value="Malagueño, Cordoba, Argentina">Malagueño, Cordoba, Argentina</option>
                          <option value="Capital, Cordoba, Argentina">Capital, Cordoba, Argentina</option>
                          <option value="Villa Carlos Paz, Cordoba, Argentina">Villa Carlos Paz, Cordoba, Argentina</option>
                          <option value="Alta Gracia, Cordoba, Argentina">Alta Gracia, Cordoba, Argentina</option>
                          <option value="Acuavista, Malagueño, Cordoba, Argentina">San Nicolas, Malagueño, Cordoba, Argentina</option>
                          <option value="Causana, Malagueño, Cordoba, Argentina">Causana, Malagueño, Cordoba, Argentina</option>
                          <option value="Docta, Malagueño, Cordoba, Argentina">Docta, Malagueño, Cordoba, Argentina</option>
                          <option value="Estación del Carmen, Malagueño, Cordoba, Argentina">Estación del Carmen, Malagueño, Cordoba, Argentina</option>
                          <option value="Eva Peron, Malagueño, Cordoba, Argentina">Eva Peron, Malagueño, Cordoba, Argentina</option>
                          <option value="Falda del Cañete, Cordoba, Argentina">Falda del Cañete, Cordoba, Argentina</option>
                          <option value="La Arbolada, Malagueño, Cordoba, Argentina">La Arbolada, Malagueño, Cordoba, Argentina</option>
                          <option value="La Juanita, Malagueño, Cordoba, Argentina">La Juanita, Malagueño, Cordoba, Argentina</option>
                          <option value="La Perla, Malagueño, Cordoba, Argentina">La Perla, Malagueño, Cordoba, Argentina</option>
                          <option value="La Cañitas, Malagueño, Cordoba, Argentina">La Cañitas, Malagueño, Cordoba, Argentina</option>
                          <option value="Padre Carlos Marella, Malagueño, Cordoba, Argentina">Primero de Mayo, Malagueño, Cordoba, Argentina</option>
                          <option value="Primero de Mayo, Malagueño, Cordoba, Argentina">Primero de Mayo, Malagueño, Cordoba, Argentina</option>
                          <option value="Punta de Agua, Malagueño, Cordoba, Argentina">Punta de Agua, Malagueño, Cordoba, Argentina</option>
                          <option value="San Nicolas, Malagueño, Cordoba, Argentina">San Nicolas, Malagueño, Cordoba, Argentina</option>
                          <option value="San Francisco, Malagueño, Cordoba, Argentina">San Francisco, Malagueño, Cordoba, Argentina</option>
                          <option value="Santa Barbara, Malagueño, Cordoba, Argentina">Santa Barbara, Malagueño, Cordoba, Argentina</option>
                          <option value="Sierra de Oro, Malagueño, Cordoba, Argentina">Sierra de Oro, Malagueño, Cordoba, Argentina</option>
                          <option value="Tejas 4, Malagueño, Cordoba, Argentina">Tejas 4, Malagueño, Cordoba, Argentina</option>
                          <option value="Tejas 3, Malagueño, Cordoba, Argentina">Tejas 3, Malagueño, Cordoba, Argentina</option>
                          <option value="Tierra Alta, Malagueño, Cordoba, Argentina">Tierra Alta, Malagueño, Cordoba, Argentina</option>
                          <option value="Torre Milenicas, Malagueño, Cordoba, Argentina">Torre Milenicas, Malagueño, Cordoba, Argentina</option>
                          <option value="Valle del Golf, Malagueño, Cordoba, Argentina">Valle del Golf, Malagueño, Cordoba, Argentina</option>
                          <option value="Veneto, Malagueño, Cordoba, Argentina">Veneto, Malagueño, Cordoba, Argentina</option>
                          <option value="Yocsina, Malagueño, Cordoba, Argentina">Yocsina, Malagueño, Cordoba, Argentina</option>
                          <!-- Agrega más opciones según sea necesario -->
                      </select>
                      <p class="error-message" id="error_residencia "></p>
                  </div>
                </div>
                
                <!------------------------------------------------>
                <div class="grupo">
                  <label for="telefono">Teléfono*</label>
                  <input type="tel" id="telefono" name="telefono">
                  <p class="error-message" id="error-telefono"></p>
                </div>
                <!------------------------------------------------>

                <div class="grupoGenero">
                  <label>Idioma *</label>
                  <br>
                  <input type="radio" name="idioma" value="1"> Español
                  <br>
                  <input type="radio" name="idioma" value="2"> Inglés Básico
                  <br>
                  <input type="radio" name="idioma" value="3"> Inglés Intermedio
                  <br>
                  <input type="radio" name="idioma" value="4"> Inglés Avanzado 

                  <p class="error-message" id="error-idioma"></p>
                </div>

                <!------------------------------------------------>
                <div class="grupoGenero">
                  <label>Marque algunas habilidades con las que se sienta identificado</label>
                  <br>
                  <input type="checkbox" name="aptitudes[]" value="Liderazgo"> Liderazgo
                  <br>
                  <input type="checkbox" name="aptitudes[]" value="Trabajo en equipo"> Trabajo en equipo
                  <br>
                  <input type="checkbox" name="aptitudes[]" value="Gestión de proyectos"> Gestión de proyectos
                  <br>
                  <input type="checkbox" name="aptitudes[]" value="Gestión del tiempo"> Gestión del tiempo
                  <br>
                  {% if error_aptitudes %}
                  <p class="error-message"> {{ error_aptitudes }} </p>
                  {% endif %}
                </div>

                <br>
                <button class="botones" type="button" onclick="mostrarAnteriorFormulario('form1', 'consulata-categoria')">Atrás</button>
                <button id="btn-siguiente-form2"  class="botones" type="button" onclick="mostrarSiguienteFormulario('form1', 'form2')" disabled>Siguiente</button>
                <br>
                
                </div>
            <!------------------------------------------------>


                <!-----------------------HTML F.Academica------------------------->    

                    <div class="container" id="form2" style="display: none;">
                <!------------------------------------------------>
                        <h2>Educación</h2>
                        <br>
                        <div class="separador">
                            <hr />
                            <span> 0 </span>
                            <hr />
                        </div>
                        <br>
                <!------------------------------------------------>
                        <div>
                          <p class="texto">Completar los campos de la formación de más alto nivel alcanzado</p>
                        </div>
                        <br>
                        <br>
                        <div class="grupo">
                          <label for="institucion">Institución Educativa *</label>
                          <input type="text" id="institucion" name="institucion">
                          <p id="error-institucion" class="error-message"></p>
                        </div>
                    <!------------------------------------------------>
                        <div class="grupo">
                            <label for="especialidad">Especialidad *</label>
                            <select id="especialidad" name="especialidad">
                              <option value="" selected disabled>Selecciona una Especialidad</option>
                              <option value="Informática">Informática</option>
                              <option value="Economía y Administración">Economía y Administración</option>
                              <option value="Comunicación">Comunicación</option>
                              <option value="Salud">Salud</option>
                              <option value="Ciencias Sociales">Ciencias Sociales</option>
                              <option value="Otro">Otro</option>
                              <!-- Agrega más opciones según sea necesario -->
                          </select>
                          <p id="error-especialidad" class="error-message"></p>
                        </div>
                    <!------------------------------------------------>
                        <div class="contenedor-par">
                          <div class="grupo2">
                            <label for="inicio">Inicio *</label>
                            <input type="date" id="inicio" name="inicio">
                            <p id="error-inicio" class="error-message"></p>
                        </div>
                    <!------------------------------------------------>
                        <div class="grupo2">
                          <label for="fin">Fin *</label>
                          <input type="date" id="fin" name="fin">
                          <p class="error-message" id="error-fin" ></p>
                        </div>
                        </div>
                        
                    <!------------------------------------------------>
                    <div class="grupoGenero">
                        <p>Formación Académca *
                            <br>
                            <br>
                            <input type="radio" id="secundario"  class="grado" name="grado" value="1"> Secundario
                            <br>
                            <input type="radio" id="pregrado"  class="grado" name="grado" value="2"> Pre-grado
                            <br>
                            <input type="radio" id="terciario" class="grado" name="grado" value="3"> Terciario
                            <br>
                            <input type="radio" id="grado" class="grado" name="grado" value="4"> Grado
                            <br>
                            <input type="radio" id="postgrado"  class="grado" name="grado" value="5"> Post-grado
                            <br>
                        </p>
                        <p class="error-message" id="error-formacion" ></p>
                    </div>
                    <!------------------------------------------------>
                    <br>
                    <div>
                      <p class="texto"> · Describa otras Institución adicional siguiendo el formato anterior: Institución, Especialidad, Inicio, Fin, Formación Académca. Sino deje el campo vacío</p>
                      <br>
                    </div>
                    <!------------------------------------------------>
                    <div class="grupo">
                      <label for="notasFormacion">Formación Adicional:</label>
                      <textarea id="notasFormacion" name="notasFormacion" placeholder="Debe contener menos de 400 caracteres" rows="8" cols="40"></textarea>
                      <p id="error-notasFormacion" class="error-message"></p>
                    </div>
                    <!------------------------------------------------>
                    <div class="boton">

                      <button class="botones"  type="button" onclick="mostrarAnteriorFormulario('form2', 'form1')">Atrás</button>
                        <button id="btn-siguiente-form3" class="botones"  type="button" onclick="mostrarSiguienteFormulario('form2', 'form3')" disabled>Siguiente</button>  

                    </div>
                    <!------------------------------------------------>
                
                    </div>

            <!-----------------------HTML E.Laboral------------------------->
            <div class="container" id="form3" style="display: none;">
              <!------------------------------------------------>

                      <h2>Experiencia Laboral</h2>
                      <br>
                  <div class="separador">
                      <hr />
                      <span> 0 </span>
                      <hr />
                  </div>
                      <br>
                      <!------------------------------------------------>
                      <div>
                        <p class="texto">Completar con información de la experiencia laboral más reciente</p>
                      </div>
                      <br>
                      <br>
                  <!------------------------------------------------>
                      <div class="grupo">
                        <label for="empresa">Empresa*</label>
                        <input type="text" id="empresa" name="empresa">
                        <p id="error-empresa" class="error-message"></p>
                      </div>
                      <!------------------------------------------------>
                      <div class="grupo">
                        <label for="descripcion">Rol Desempeñado*</label>
                        <input type="text" id="descripcion" name="descripcion">
                        <p id="error-descripcion" class="error-message"></p>
                      </div>

                      <!------------------------------------------------>
                      <div class="grupo">
                        <label for="tareas">Resumen de Tareas Desempeñadas*</label>
                        <textarea id="tareas" name="tareas"></textarea>
                        <p id="error-tareas" class="error-message"></p>
                      </div>
                      <!------------------------------------------------>
                      <div class="contenedor-par">
                        <div class="grupo2">
                          <label for="desde">Desde*</label>
                          <input type="date" id="desde" name="desde">
                          <p id="error-desde" class="error-message"></p>
                      </div>
                      <!------------------------------------------------>
                      <div class="grupo2">
                        <label for="hasta">Hasta*</label>
                        <input type="date" id="hasta" name="hasta">
                        <p id="error-hasta" class="error-message"></p>
                      </div>
                      </div>
                      
                      <!------------------------------------------------>
                      <br>
                      <div>
                        <p class="texto"> · Describa otras experiencias adicionales siguiendo el formato anterior: Empresa, Rol Desempeñado, Resumen de Tareas, Desde, Hasta. Sino deje el campo vacío</p>
                        <br>
                        <br>
                      </div>
                    <!------------------------------------------------>

                      <div class="grupo">
                        <label for="notasExperiencia">Experiencia Adicional:</label>
                        <textarea class="notasExperiencia" name="notasExperiencia" placeholder="Debe contener menos de 400 caracteres" rows="8" cols="40"></textarea>
                        <p class="error-message" id="error-notasExperiencia"></p>
                      </div>
                      <!------------------------------------------------>
                      <br>
                      <button class="botones" type="button" onclick="mostrarAnteriorFormulario('form3', 'form2')">Atrás</button> 
                      <input id="btn-siguiente-form4" class="button-confirmar" type="submit" value="Confirmar" required>
                      <br>
                </div>

                <div class="container-logo-muni">
                  <div class="logo-mm">
                    <img src="../static/IMG/logo_mm.png" alt="Logo Municipalidad">
                  </div>
                </div>

          </div>
          </div>
          
      </form>
    
        <div class="main-menu2">
          <div class="friends-activity">
            <h1>Novedades</h1>
            <div class="card-container">
            
            
              <div class="card">
             
              <div class="card-user-info">
                <img  src="../static/IMG/Logo_Iso_Municipalidad_ PNG.png" />
                <h2>Municipales</h2>
                <div class="button_ir">
                  <button class="buttons"><a href="https://linktr.ee/municipalidad_de_malagueno" target="_blank"> Ver Mas...</a></button>
                </div>
              </div>
              <img class="card-img" src="../static/IMG/APP.png" alt="" />
              <br>
              <p class="titulo"><strong>Lanzamientos Digitales</strong><br></p></div> 


              <div class="card">
            
                <div class="card-user-info">
                  <img src="https://www.hause-mobel.com.ar/wp-content/uploads/2022/06/hausemobel.jpg" alt="" />
                  <h2>Hause Mobel</h2>
                  <div class="button_ir">
                    <button class="buttons"><a href="https://www.hause-mobel.com.ar/" target="_blank"> Ver Mas...</a></button>
                  </div>
                </div>
                <img class="card-img" src="../static/IMG/unrecognizable-woman-sitting-desk-office-typing-keyboard.jpg" alt="" />
                <br>
                <p class="titulo"><strong>Oportunidad Laboral</strong><br></p></div> 

              </div>

                  <div class="card">
                  
                    <div class="card-user-info">
                      <img src="../static/IMG/logo_holcim.png" alt="" />
                      <h2>Holcim S.A</h2>
                      <div class="button_ir">
                        <button class="buttons"><a href="https://careers.holcimgroup.com/holcim_argentina/go/Empleos-en-Holcim-Argentina/8822102/" target="_blank"> Ver Mas...</a></button>
                      </div>
                    </div>
                    <img class="card-img" src="../static/IMG/videoframe_0.png" alt="" />
                    <br>
                    <p><strong>Oportunidades Laborales</strong><br></p>
                  </div> 
                  <br>
                  <div class="card">
             
                    <div class="card-user-info">
                      <img src="../static/IMG/logo_corblock.png" />
                      <h2>CorBlock</h2>
                      <div class="button_ir">
                        <button class="buttons"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=sergio.racigh@corblock.com&cc=&bcc=&su=CV%20[Nombre]%20[Apellido]&body=Este%20es%20el%20cuerpo%20del%20correo
                          " target="_blank"> Enviar CV </a></button>
                      </div>
                    </div>
                    <img class="card-img" src="../static/IMG/playa_corblock.png" alt="corblock" />
                    <br>
                    <p class="titulo"><strong>Oportunidades Laborales</strong><br></p></div>
                    <br>
                  </div>

                </div>
                  
      </section>
    </main>



  </body>
</html>
