<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="IMG/Logo_Iso color.png">
    <title>Inicio</title>
    <link rel='stylesheet' href="../static/inicio.css">
</head>
<body>
    <div class="container">
        <div class="loader">
            <img src="../static/IMG/iso blanco y.png" alt="Imagen central">
        </div>
        <div class="boton">
            <input type="button" value="Comenzar" onclick="window.location.href='/formulario'">
        </div>
    </div>
</body>
</html>